/* リキッドデザインの場合 */

/* html {
	font-size: calc(var(--vw) / var(--base-vw));
} */

body {
	font-family:
		'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
		Meiryo, sans-serif;
	font-size: 16rem;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: none;
}

a {
	display: block;
	color: currentcolor;
	cursor: pointer;
}

button {
	color: currentcolor;
	cursor: pointer;
}

details {
	cursor: pointer;
}

video,
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

.preload * {
	transition: none !important;
}

.lContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.lMain {
	flex: 1;
}
